
.vs/hashcode2020/v16/.suo
*.lock
.vs/hashcode2020/v16/Server/sqlite3/storage.ide-shm
.vs/hashcode2020/v16/Server/sqlite3/storage.ide
.vs/hashcode2020/v16/Server/sqlite3/storage.ide-wal
.vs/hashcode2020qualifier/DesignTimeBuild/.dtbcache
